.tree-autolayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.tree-autolayout .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 668px;
  padding: 17px 100px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  box-shadow: var(--close);
}

.tree-autolayout .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  letter-spacing: 4.40px;
  line-height: normal;
}

.tree-autolayout .top {
  display: flex;
  align-items: flex-start;
  gap: 74px;
  padding: 40px 16px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  mix-blend-mode: multiply;
}

.tree-autolayout .vector {
  position: relative;
  width: 132px;
  height: 24px;
}

.tree-autolayout .div {
  align-items: center;
  padding: 0px 0px 64px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .header-2 {
  align-items: flex-start;
  gap: 66px;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 0px 0px 40px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.tree-autolayout .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 52px;
}

.tree-autolayout .treeheaderbg {
  position: relative;
  //width: 359px;
  height: 348px;
  margin-left: -16.00px;
  object-fit: cover;
  object-position: top left;
  left:0px;
  align-self: center;

}

.tree-autolayout .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.05px;
  line-height: 28px;
}

.tree-autolayout .summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 90px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .content-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 0px 16px;
  margin-right: -24.00px;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .left {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .text-wrapper-3 {
  position: relative;
  width: 367px;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

.tree-autolayout .bullets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .bullet {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.05px;
  line-height: 28px;
  white-space: nowrap;
}

.tree-autolayout .bullet-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 0px 0px 0px 12px;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .div-2 {
  background-color: #000000;
  position: relative;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}

.tree-autolayout .right {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .text-wrapper-5 {
  position: relative;
  width: 356px;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

.tree-autolayout .a-increase-family {
  position: relative;
  width: 366px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.05px;
  line-height: 28px;
}

.tree-autolayout .text-wrapper-6 {
  position: relative;
  width: 263px;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

.tree-autolayout .a-uplift-b {
  position: relative;
  width: 264px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.05px;
  line-height: 28px;
}

.tree-autolayout .UX-research {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  padding: 40px 16px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .div-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 28px;
}

.tree-autolayout .div-5 {
  position: relative;
  align-self: stretch;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
}

.tree-autolayout .span {
  letter-spacing: 0.01px;
}

.tree-autolayout .text-wrapper-8 {
  letter-spacing: 0.06px;
}

.tree-autolayout .text-wrapper-9 {
  letter-spacing: 0;
}

.tree-autolayout .text-wrapper-10 {
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
}

.tree-autolayout .text-wrapper-11 {
  letter-spacing: 0.03px;
}

.tree-autolayout .text-wrapper-12 {
  letter-spacing: 0.04px;
}

.tree-autolayout .text-wrapper-13 {
  letter-spacing: 0.05px;
}

.tree-autolayout .bitools {
  position: relative;
  align-self: stretch;
  width: 100%;
  //height: 66px;
  object-fit: cover;
}

.tree-autolayout .text-wrapper-14 {
  letter-spacing: 0.07px;
}

.tree-autolayout .personas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  padding: 40px 16px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .element {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffcb9a1a;
  border-radius: 10px;
  overflow: hidden;
}

.tree-autolayout .title {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 17px 0px 15px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffcb9a33;
}

.tree-autolayout .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.tree-autolayout .content-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .text-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .text-wrapper-16 {
  position: relative;
  width: 272px;
  margin-top: -1.00px;
  margin-right: -12.00px;
  opacity: 0.5;
  font-family: "Helvetica Neue-MediumItalic", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
}

.tree-autolayout .bullets-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .bullet-3 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .ellipse-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 11px 0px;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .ellipse {
  position: relative;
  width: 3px;
  height: 3px;
  background-color: #000000;
  border-radius: 1.5px;
}

.tree-autolayout .text-wrapper-17 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
}

.tree-autolayout .persona-x {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 434px;
  object-fit: cover;
}

.tree-autolayout .element-2 {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #71bbbb1a;
  border-radius: 10px;
  overflow: hidden;
}

.tree-autolayout .div-wrapper {
  background-color: #71bbbb33;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 17px 0px 15px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .img {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 403px;
  object-fit: cover;
}

.tree-autolayout .element-3 {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #c4c4c41a;
  border-radius: 10px;
  overflow: hidden;
}

.tree-autolayout .title-2 {
  background-color: #c4c4c433;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 17px 0px 15px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .text-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 48px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.tree-autolayout .text-wrapper-18 {
  position: relative;
  width: 272px;
  margin-top: -1.00px;
  margin-right: -28.00px;
  opacity: 0.5;
  font-family: "Helvetica Neue-MediumItalic", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
}

.tree-autolayout .persona-x-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 403.17px;
  object-fit: cover;
}

.tree-autolayout .pie-matches {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  padding: 0px 16px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .top-2 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .we-love-adding {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0.05px;
  line-height: 28px;
}

.tree-autolayout .text-wrapper-19 {
  color: #000000;
  letter-spacing: 0.01px;
}

.tree-autolayout .text-wrapper-20 {
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #d9a94a;
  letter-spacing: 0.01px;
}

.tree-autolayout .text-wrapper-21 {
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #70ccb7;
  letter-spacing: 0.01px;
}

.tree-autolayout .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .treeillustration {
  position: relative;
  width: 331px;
  height: 336px;
  object-fit: cover;
}

.tree-autolayout .points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  padding: 0px 16px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .div-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
}

.tree-autolayout .text-wrapper-22 {
  letter-spacing: -0.05px;
}

.tree-autolayout .text-wrapper-23 {
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: -0.05px;
}

.tree-autolayout .content-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .left-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .oldtree {
  position: relative;
  align-self: stretch;
  width: 100%;
  //height: 203.42px;
  object-fit: cover;
}

.tree-autolayout .text-wrapper-24 {
  position: relative;
  width: fit-content;
  font-family: "Helvetica Neue-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #00000066;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.05px;
  line-height: 28px;
  white-space: nowrap;
}

.tree-autolayout .bullet-4 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 0px 0px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .bullet-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .text-wrapper-25 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.05px;
  line-height: 28px;
}

.tree-autolayout .bullet-5 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 0px 0px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .ellipse-2 {
  position: relative;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}

.tree-autolayout .users-were-not-sure {
  position: relative;
  align-self: stretch;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  line-height: 31px;
}

.tree-autolayout .text-wrapper-26 {
  letter-spacing: 0.10px;
}

.tree-autolayout .panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .text-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 0px 16px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.tree-autolayout .text-wrapper-27 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

.tree-autolayout .content-5 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  margin-right: -507.00px;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .panel-x {
  position: relative;
  width: 50%;
  //height: 754px;
  object-fit: cover;
  object-position: top left;
  left:0px;
}

.tree-autolayout .solution {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 40px 16px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .text-5 {
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  align-self: stretch;
}

.tree-autolayout .text-wrapper-28 {
  font-weight: 700;
}

.tree-autolayout .text-wrapper-29 {
  font-family: "Helvetica Neue-Regular", Helvetica;
}

.tree-autolayout .image {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 238px;
  margin-bottom: -40.00px;
  margin-left: -16.00px;
  margin-right: -16.00px;
  object-fit: cover;
}

.tree-autolayout .metrics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 16px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .content-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .text-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.tree-autolayout .we-set-all {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.05px;
  line-height: 28px;
}

.tree-autolayout .circles {
  position: relative;
  //align-self: stretch;
  width: 100%;
  height: 526px;
  gap:12px;
}

.tree-autolayout .circle-x {
  position: absolute;
  width: 190px;
  height: 208px;
  top: 0;
  left: 0;
  object-fit:cover;
}

.tree-autolayout .circle-x-2 {
  position: absolute;
  width: 190px;
  height: 208px;
  top: 0;
  left: 50%;
  object-fit: fill;
}

.tree-autolayout .circle-x-3 {
  position: absolute;
  width: 190px;
  height: 208px;
  top: 272px;
  left: 0;
  object-fit: fill;
}

.tree-autolayout .circle-x-4 {
  position: absolute;
  width: 190px;
  height: 208px;
  top: 272px;
  left: 50%;
  object-fit: fill;
}

.tree-autolayout .views {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 81px;
  padding: 40px 16px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .content-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .treevideo {
  box-shadow: 10px 10px 30px 0px rgba(94, 105, 114, 0.15);
  width:100%;
  //height:200px;
  align-self: center;
}

.tree-autolayout .div-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .text-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.tree-autolayout .img-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tree-autolayout .fan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .summary-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 40px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .text-wrapper-30 {
  letter-spacing: -0.02px;
}

.tree-autolayout .text-wrapper-31 {
  letter-spacing: 0.02px;
}

.tree-autolayout .text-wrapper-32 {
  position: relative;
  align-self: stretch;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.tree-autolayout .personas-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .element-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffcb9a1a;
  border-radius: 10px;
  overflow: hidden;
}

.tree-autolayout .content-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  padding: 0px 30px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.tree-autolayout .text-wrapper-33 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  opacity: 0.8;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.tree-autolayout .element-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 0px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #71bbbb1a;
  border-radius: 10px;
  overflow: hidden;
}

.tree-autolayout .element-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 0px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #c4c4c41a;
  border-radius: 10px;
  overflow: hidden;
}

.tree-autolayout .closer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 0px 0px 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.tree-autolayout .text-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0px 32px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.tree-autolayout .text-wrapper-34 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.tree-autolayout .text-wrapper-35 {
  position: relative;
  align-self: stretch;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
}

.tree-autolayout .stories {
  position: relative;
  //width: 375px;
  height: 244px;
  object-fit: cover;
}

.tree-autolayout .text-wrapper-36 {
  position: relative;
  width: 456px;
  margin-left: -40.50px;
  margin-right: -40.50px;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}